section.minklass 

    h1 Välkommen 
    
    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita quo velit pariatur, itaque consequuntur adipisci voluptates odio exercitationem est, iste consectetur repudiandae ab vel et saepe animi quidem minus labore.